<source>
  @type tail
  path /fluentd/log/{{ app_name }}/{{ log_name }} #...or where you placed your Apache access log
  pos_file /fluentd/log/{{ app_name }}/{{ log_name }}.pos # This is where you record file position
  tag "app.error"
  time_format %d/%b/%Y:%H:%M:%S %z
  format {{ regex_format }}
</source>

<match app.*>
    @type forward
    send_timeout 60s
    recover_wait 10s
    heartbeat_interval 2s
    phi_threshold 16
    hard_timeout 60s
    <server>
    name fluentd-master
    host {{ fluentd_master_host }}
    port {{ fluentd_master_port }}
    weight 60
    </server>
    <secondary>
    @type file
    path /fluentd/log/forward-failed
    </secondary>
</match>
