#!/bin/bash
CONTAINER_NAME=fluentd_master
docker rm -f ${CONTAINER_NAME}
docker run -i \
	--name=${CONTAINER_NAME} \
	-v /etc/fluentd/fluentd_master.conf:/fluentd/etc/fluent.conf \
	{{ fluentd_master_image }}:{{ fluentd_master_tag }}